<h1>Stupid Coaching</h1>
<p>Ask your coach anything:</p>
<form action="/answer" class = "form-inline">
  <div class = "input-group p-2">
    <input class = "form-control-lg" type="text" name="question">
    <div class="input-group-append">
      <button type="submit" class = "btn-lg btn-primary">Ask!</button>
    </div>
  </div>
</form>
